.header{
  background-color: #006be5;
  height: 70px;
  color:#fff;
  p{
    color:#fff !important;
  }
}
.codex-icon{
  padding: 12px;
  height: 100%;
  width: 65px;
}
.header-text{
  height: 80%;
  margin: auto 0px;
  padding: 12px;
  p{
    margin: 0
  }
  .sub-text{
    font-size: 14px;
  }
}
