  .active-tab{
    background-color: #f5f5f5;
    box-shadow: 0 -4px 7px rgba(0,0,0,.26);
    z-index: 3;
    font-size: 11px;
    span{
      color:#006be5;
    }
  }
.bottom-counter{
  color:#454545;
  font-size: 12px;
}
