.filterable-table {
	padding: 20px;
	background-color: beige;
}

footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}
html,
body {
  height: 100%;
  margin: 0;
  >#root{
    height: inherit;
    >div{
      height: inherit;
      >div{
        height: inherit;
      }
    }
  }
}
.box {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
	flex-direction: row;
}
.flex{
  display: flex;
}
.display-none{
	display: none;
}
.space-bet{
	justify-content: space-between;
}
.box .row {
  border: 1px dotted grey;
}
.box .row.header {
  flex: 0 1 auto;
}
.box .row.content {
  display: flex;
  flex-direction:row;
  flex: 1 1 auto;
}
#app{
  height: 100%;
}
.mainContent{
  background-color:#f5f5f5;
	width: 100%;
	overflow: hidden;
}
.left-menu{
  background-color: #f9f9f9;
  flex:3;
  flex-direction: row;
  display: flex;
  border-right: 1px solid #e0e0e0;
}
