.price-line{
  justify-content: space-between;
  padding: 10px;
  button{
    padding: 8px 14px;
    background-color: #0265d5;
    color: #fff;
    border-style: none;
  }
  h2{
    margin: 0;
    color: #939393;
  }
}
