ul{
  list-style-type: none;
  li{
    // padding:10px;
    border-top: 1px solid #e0e0e0;
  }
}

.role-head{
  border-top: 1px solid #757575;
  border-bottom: 2px solid #757575;
  opacity: 0.87;
  font-weight: 600;
  >div>span{
    padding: 10px;
  }
}
.sub-head{
  padding: 10px;
  background-color: rgba(179, 229, 252, 0.37);
  width: 100%;
}
.sub-item{
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
