html,
body {
  height: 100%;
  margin: 0
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row {
  border: 1px dotted grey;
}
.box .row.header {
  flex: 0 1 auto;
}
.box .row.content {
  display: flex;
  flex-direction:row;
  flex: 1 1 auto;
}
#app{
  height: 100%;
}
.mainContent{
  flex:10;
  background-color:blue;
}
.left-menu{
  background-color: yellow;
  flex:3;
  flex-direction: row;
  display: flex;
}
