.tab-quo{
  padding: 8px 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-top: 5px;
  &.active{
    background: #e0e0e0;
  }
  &:hover{
    background: #eaeaea;
    
  }
}
.selector-class{
  min-width: 150px;
}
.content-quo-table{
  overflow: auto;
  padding-bottom: 30px;
}
.create-quo-btm{
  font-style: italic;
  color:#424242;
  padding-top: 20px;
  border-top: 1px solid #aaa;
  .create-quo-btm-input-label-left{
    display: flex;
    width: 200px;
    justify-content: flex-end;
    input{
          width: 50px;
    }
  }
}
.top-content{
  opacity: 0.87;
  color: #424242;
  font-style: italic;
  // select{
  //   background-color: #fff;
  //   border-radius: 4px;
  //   // height: 35px;
  //   // color: #aaa;
  //   border: 1px solid #aaa;
  //   min-width: 150px;
  // }
}

hr{
  border-top: 1px solid #e0e0e0; 
}
