.content-style{
  width: 100%;
  overflow: auto;
  height: calc(100% - 110px);
}
table {
    border-collapse: collapse;
    width: 100%;
    tr:nth-child(odd){background-color: #f2f2f2}
    tr:nth-child(even){background-color: #ffffff}
    tr{
      height: 35px;
      font-family: 'Lato';
      td{
        padding: 3px 8px;
      }
    }
    thead{
      border-bottom: 2px solid #e0e0e0;
    }


}
.flex-1{
  flex:1;
}
