.content-style{
  width: 100%;
  //height: 100%;
  overflow: auto;
  height: calc(100% - 115px);
}
table {
    border-collapse: collapse;
    width: 100%;
    tr:nth-child(odd){background-color: #f2f2f2}
    tr:nth-child(even){background-color: #ffffff}
    tr{
      height: 35px;
      td{
        padding: 3px 8px;
        font-size: 14px;
        color:#5e5e5e;
      }
    }
    thead{
      border-bottom: 2px solid #e0e0e0;
      padding: 3px 8px;
      td{
        font-weight: 600;
        font-size:14px;
        color:#454545;
      }
    }


}
.clickable-item {
  cursor:pointer;
  &:hover{
    background-color: #e0e0e0;
  }
}
.flex-1{
  flex:1;
}
.flex-space-between{
  justify-content: space-between;
}
