.content-style{
  width: 100%;
  //height: 100%;
  overflow: auto;
  height: calc(100% - 36px);
}

.clickable-item {
  cursor:pointer;
  &:hover{
    background-color: #e0e0e0;
  }
}
.flex-1{
  flex:1;
}
.flex-space-between{
  justify-content: space-between;
}
.filter-input {
  height: 25px;
  width: 100%;
}
.filter-input:focus {
  outline: none;
}
.ant-input {
  border-radius: 0px !important;
  height: 25px !important;
  border: 1px #CCCCCC solid !important;
}
.ant-input:focus {
  outline: none !important;
}
.ant-calendar-picker {
  width: 100% !important;
}

.ant-select {
  border-radius: 0px !important;
  height: 25px !important;
  border: 1px #CCCCCC solid !important;
  width: 100% !important;
  display: none;
}
.ant-select-ant-select-selection, .ant-select-selection--single {
  border-radius: 0px !important;
  border: none !important;
  width: 100% !important;
  margin: 0px !important;
  height: 23px !important;
}
.ant-select-selection--single:focus {
  outline: none !important;
}

.ant-btn-group {
  position: relative !important;
  width: 100% !important;
}
.ant-btn-group:hover {
  .ant-dropdown-trigger {
    display: inline-block !important;
  }
}
.ant-btn-group, .ant-btn-default {
  border: none !important;
  padding: 0px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.ant-dropdown-trigger {
  display: none !important;
  position: absolute !important;
  right: 0 !important;
}
.ant-dropdown-menu-submenu-vertical .ant-dropdown-menu-submenu {
  padding: 0px !important;
}
.ant-menu-item, .ant-menu-submenu {
  line-height: 30px !important;
  height: 30px !important;
  padding: 0px 20px !important;
  width: 170px !important;
}
.ant-menu-item-group {
  .ant-menu-item-group-title {
    padding: 0px !important;
  }
}
.ant-menu-root {
  box-shadow: 1px 18px 40px -18px rgba(0,0,0,0.75) !important;
}
.ant-menu-submenu-vertical {
  .ant-menu-submenu-title {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 30px !important;
  }
}
.ant-menu-vertical .ant-menu-item:after {
  content: inherit !important;
}
.ant-btn-default {
  background: transparent !important;
}

table.scroll {
  // max-width:100%;
  // width: 100%;
  border-collapse: collapse;
  thead {
    padding: 0px;
    // display: block;
    td {
      background: #f2f2f2;
      border: 1px #ccc solid;
      overflow: hidden;
      input, .ant-select {
        border: 0px !important;
      }
    }
  }
  tbody {
    // display: block;
    overflow-y: scroll;
    max-height: 200px;
    tr {
      border: 1px #ccc solid;
    }
  }
}
.table-wrapper {
  position: relative;
  height: 55vh;
  overflow: scroll;
  .floatThead-container {
    // width: 100% !important;
    // max-width: 100% !important;
    // transform: translate(23.1%, 169px) !important;
    // overflow: scroll !important;
  }
}
.table-content-wrapper {
  position: relative;
  height: 20vh;
  overflow: scroll;
}

.header-fixed {
  width: 77%;
  right: 0;
  left: 23%;
  top: 170px;
  background: #f2f2f2;
  position: fixed;
  transform: translate(0%, 0px) !important;
}
.body-fixed {
  width: 77%;
  right: 0;
  left: 23%;
  top: 170px;
}

.ant-table-thead>tr>th {
  padding: 0px !important;
}
.ant-dropdown-trigger {
  display: block !important;
  position: relative !important;
  color: #000;
}
.ant-table-tbody>tr>td {
  padding: 5px 8px !important;
}

.ant-table-tbody {
  tr:nth-child(odd){background-color: #eeeff7}
  tr:nth-child(even){background-color: #ffffff}
}
th {
  white-space: nowrap;
  overflow: hidden;
}
.column-title {
  padding: 5px;
  position: relative;
  border: 0.5px #ccc solid;
  .column-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0px;
  }
  .icon {
    color: #EFEFF7;
    width: 20px;
    padding: 10px 7px;
    font-size: 8px;
    background: #85B3E4;
  }
}
.active {
  display: block !important;
}
.column-title:hover {
  .column-icon {
    display: block;
  }
}
.ant-pagination {
  li {
    line-height: 25px !important;
    vertical-align: middle;
  }
  margin-top: 10px !important;
}

.ant-table-body, .ant-table-pagination, .subcontent-table .ant-table-header{
  margin-right: 16px!important;
}