.flex{display: flex;}
.input-box{
  margin:20px;
  justify-content: flex-end;
  label{
    margin-right: 10px;
  }
}
.page-style{
  .left{
    margin-right: 5px;
  }
  .page-head{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color:#5e5e5e;
    font-size: 14px
  }
}
