.action-group-btn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  img{
    height: 30px;
    width: 30px;
  }
  p{
    margin: 0;
  }
  button{
    border-style:none;
    padding: 10px;
    background: #f5f5f5;
  }
}
