.header{
  .action-group-btn button:hover {
    filter: drop-shadow(1px 1px 1px #5a5a5a);
  }
}

.action-group-btn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  img{
    height:26px;
    width: 26px;
  }
  p{
    margin: 0;
    color:#454545;
    font-size: 10px;
  }
  button{
    border-style:none;
    padding: 10px 15px;
    background: none;
    &:hover{
      cursor: pointer;
      // opacity: 0.5;
      // filter: contrast(10);
      filter: drop-shadow(1px 1px 1px rgba(170, 170, 170, 0.5));
    }
    &:focus{
      outline: none;
    }
  }
}

.action-bar{
  justify-content: space-between;
  padding: 0 10px;
  h2{
    height: 0;
      line-height: 0;
      margin: auto 0;
      color:#939393;
      font-size: 18px;
  }

}
.modal-selector{
  display: flex;
  justify-content: center;
}
