.action-group-btn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  img{
    height:26px;
    width: 26px;
  }
  p{
    margin: 0;
    color:#454545;
    font-size: 10px;
  }
  button{
    border-style:none;
    padding: 10px;
    background: none;
    &:hover{
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
  }
}

.action-bar{
  justify-content: space-between;
  h2{
    margin-left:10px;
    color:#939393;
    font-size: 18px;
    margin-top: 22px;
  }

}
.modal-selector{
  display: flex;
  justify-content: center;
}
