.action-group-btn{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  img{
    height:26px;
    width: 26px;
  }
  p{
    margin: 0;
  }
  button{
    border-style:none;
    padding: 10px;
    background: none;
  }
}
