.tab-quo{
  padding: 8px 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  &.active{
    background: #e0e0e0;
  }
}
.selector-class{
  min-width: 150px;
}
.content-quo-table{
  overflow: auto;
}
.create-quo-btm{
  font-style: italic;
  color:#424242;
  .create-quo-btm-input-label-left{
    display: flex;
    width: 200px;
    justify-content: flex-end;
    input{
          width: 50px;
    }
  }
}
.top-content{
  opacity: 0.87;
  color: #424242;
  font-style: italic;
  select{
    background-color: #fff;
    border-radius: 4px;
    height: 35px;
    color: #aaa;
    border: 1px solid #aaa;
    min-width: 150px;
  }
}
