.tab-quo{
  padding: 8px 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  &:hover{
    background: white;
  }
  &.active{
    background: #e0e0e0;
    &:hover{
      background: #e6e6e6;
    }
  }
  
}
.selector-class{
  min-width: 150px;
}
.content-quo-table{
  overflow: auto;
  padding-bottom: 30px;
  table {
    border-collapse: collapse;
    thead th span div{
      // border: 1px solid black;
      padding: 5px;
      border: 0.5px solid rgb(204, 204, 204);
      font-weight: 500;
      color: rgba(0,0,0,0.85);
      text-align: left;
      word-break: break-all;
      background: #f7f7f7;
      min-width: 80px;
      input[type=checkbox]{
        margin: 0 4px;
      }
    }
    tbody {
      tr {
        td {
          padding: 5px 8px;
          input[type=checkbox]{
            margin: 0 4px;
          }
          select {
            width: 100%;
            min-width: 80px;
          }
        }
        &:nth-child(even) {
          background-color: #ffffff;
        }
        &:nth-child(odd) {
          background-color: #eeeff7;
        }
        &:hover{
          background-color: #ecf6fd;
          
        }
      }
    }
  }
}
.create-quo-btm{
  font-style: italic;
  color:#424242;
  padding-top: 20px;
  border-top: 1px solid #aaa;
  .create-quo-btm-input-label-left{
    display: flex;
    width: 200px;
    justify-content: flex-end;
    input{
          width: 50px;
    }
  }
}
.top-content{
  opacity: 0.87;
  color: #424242;
  font-style: italic;
  // select{
  //   background-color: #fff;
  //   // border-radius: 4px;
  //   // height: 35px;
  //   // color: #aaa;
  //   border: 1px solid #aaa;
  //   min-width: 150px;
  // }
  .flex.flex-row {
    flex-wrap: wrap;
  }
}
