ul{
  list-style-type: none;
  li{
    padding:10px;
    border-top: 1px solid #e0e0e0;
  }
}

.role-head{
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  opacity: 0.87;
}
.sub-head{
  margin: 10px;
  background-color: #e0e0e0;
  width: 100%;
}
.sub-item{
  padding: 10px;
}
