.sub-menu{
  background-color: #ffffff;
  width:100%;
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
}
.menu{
  width:100%;
}
.menu-item{
  cursor: pointer;
  min-height: 40px;
  min-width: 60px;
  padding: 10px 5px;
  text-align: center;
  font-family:"Lato";
  img{
    height: 40px;
    width:40px;
  }
  p{
    margin:0;
  }
}

.active-menu{
  background-color: #ffffff;
  color:blue;
}
