.sub-menu{
  background-color: #ffffff;
  width:100%;
  border-left: 1px solid #e0e0e0;
  min-width: 200px;
  max-width: 240px;
  overflow: scroll;
  .sub-head-text{
    color:#006be5;
    border-bottom: 1px solid #e0e0e0;
    padding: 5px 10px;
    font-size: 11px;
  }
}
.menu{
  width:100%;
  max-width: 60px;
}
.menu-item{
  cursor: pointer;
  min-height: 40px;
  min-width: 60px;
  padding: 10px 5px;
  text-align: center;
  img{
    height: 40px;
    width:40px;
  }
  p{
    margin:0;
    color: #454545;
    font-size: 9.3px;
  }
  &:hover{
    background-color: white;
    filter: contrast(2);
  }
}
.submenu-item{
  cursor: pointer;
  min-height: 40px;
  min-width: 60px;
  padding: 10px 15px;
  border-right: 1px solid #f0f0f0;
  display: flex;
  img{
    height: 40px;
    width:40px;
  }
  p{
    font-size: 12px;
    color:#454545;
    font-family: 'Myriad Pro';
    margin:0;
    margin-top:13px;
  }
  &:hover{
    filter: contrast(2);
  }
}
.active-menu{
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
  p{
      color:#006be5;
  }
}
