$text-color: #3a3a3c;
$input-text-color: #b0b4b7;

.input-group{
  margin: auto;
  display: flex;
  flex-direction: column;
  input{
    padding:10px;
    margin:10px 0;
    color: $text-color;
    border-radius: 3px;
    border:1px solid $input-text-color;
  }
  input:-webkit-autofill{
    color: $input-text-color;
    background-color: #fff;
  }
  button{
    height:50px;
    background-color: #0265d5;
    color:#fff;
    border-radius: 5px;
    margin:20px 0;
    border-style: none;
  }
  p{
    margin:25px 0;
    color: $text-color;
  }
}
footer {
    position: fixed;
    bottom: 0;
    width:100%;
    margin-bottom: 20px;
    p{
      width:50%;
      margin:0 auto;
      text-align: center;
      opacity: 0.87;
      color: $text-color;
    }
}
.icon{
  height: 30px;
  width:30px;
}
.container{
  margin-top:10vh;
  margin:auto;
  max-width: 600px;
  .img-center{
    width: 100%;
    text-align: center;
  }
  img{
    height: 150px;
    // height: 110px;
    // width: 500px;
    // margin-top: 15vh;
  }
  h1{
    text-align: center;
    margin: 45px 0;
    font-weight: 200;
    color: $text-color;
  }
}
.btn{
  height:50px;
  color:#fff;
  border-radius: 5px;
  margin:20px 0;
  background-color: #0265d5;
  border-style: none;
  text-align: center;
}
