.content-attachment {
    padding: 20px;
    button{
        margin: 10px 0;
    }
}
.content-remark {
    border-top: 1px solid #e0e0e0!important;
    flex-wrap: wrap;
    textarea{
        border-color: rgb(224, 224, 224);
    }
    .create-quo-btm-input-label-left {
        margin-right: 10px;
        input {
            margin:0 8px;
        }
    }
    & > .flex-1 {
        padding: 10px 15px 5px 15px;
        .flex-row.flex{
        margin-bottom: 5px;
        }
    }
}